[project]
	description = Home-Automation with node.js and Raspberry PI
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Poopi San (Poopi)
[access "refs/for/refs/*"]
	read = group user/Poopi San (Poopi)
	push = group user/Poopi San (Poopi)
	label-Code-Review = -2..+2 group user/Poopi San (Poopi)
	label-Verified = -1..+1 group user/Poopi San (Poopi)
	rebase = group user/Poopi San (Poopi)
	removeReviewer = group user/Poopi San (Poopi)
	submit = group user/Poopi San (Poopi)
[access "refs/heads/*"]
	read = group user/Poopi San (Poopi)
	create = group user/Poopi San (Poopi)
	push = +force group user/Poopi San (Poopi)
	pushMerge = group user/Poopi San (Poopi)
[access "refs/tags/*"]
	push = +force group user/Poopi San (Poopi)
	pushTag = group user/Poopi San (Poopi)
	pushSignedTag = group user/Poopi San (Poopi)
